.LikesAttack_Container{
    background-color: white;
    padding: 10px;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.LikesAttack_Container form{
    display: flex;
    gap: 10px;
}