.LikesAttack_Container{
    background-color: white;
    padding: 10px;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.LikesAttack_Container p{
    margin: 0px;
}
.LikesAttack_Container form{
    display: flex;
    gap: 10px;
}